{{ header | raw }}

<section class="main-slide animate-hidden" id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="main-slide__content">
                    <h1 class="main-slide__title">
                        BIRZHA-LEADS – пространство лидогенерации, где встречаются цели
                    </h1>
                    <p class="main-slide__paragraph">
                        Рекламодателей – поток заявок без слива бюджета <br>
                        Веб-мастеров – стабильные заказы, даже если нет своей CRM <br> <br>

                        Контролируем все сделки для вашей уверенности в 100% качестве лидов и оплате услуг
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Присоединиться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ service | raw }}

<section class="leads animate-hidden" id="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mob-none992">
                <img src="/img/leads.png" alt="">
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="main-slide__content">
                    <h2 class="title-primary">
                        Пару слов о платформе
                    </h2>
                    <p class="leads__paragraph">
                        BIRZHA-LEADS – это площадка, которая помогает найти друг друга рекламодателям и веб-мастерам.
                    </p>
                    <p class="leads__paragraph">
                        Уже более 14 лет на рынке наша команда помогает <b>бизнесу разных ниш</b> масштабироваться за счёт качественного потока трафика. С нами ваша прибыль будет расти ,а затраты на рекламу уменьшаться
                    </p>
                    <p class="leads__paragraph">
                        Так же мы поможем <b>веб-мастерам</b>,  увеличить поток клиентов и прибыль . С нами вы обеспечены стабильными заказами .
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ads-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-center">
                <div>
                    <h2 class="title-primary text-center">
                        Лиды
                    </h2>
                    <p class="leads__paragraph text-center">
                        Купить лиды – это значит сэкономить бюджет и увеличить поток клиентов. Услуга заключается в поиске, сборе информации и привлечении.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="/img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="/img/metrika.jpg" alt="" class="card-primary__image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="/img/metrika.jpg" alt="" class="card-primary__image">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="" class="card-primary__image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{ leadForm | raw }}

<section class="advantages-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="advantages-title">
                    <h3 class="title-primary">Почему вам точно понравится здесь работать</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">100% честные сделки</h4>
                            <p class="advantage__text">Мы выступаем гарантом безопасности сделок и следим за добросовестностью  обеих сторон. Это значит, что рекламодатель защищён от плохого качества услуги и за неё не платит. А вебмастер, который справляется с задачей, гарантированно получит оплату.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">С нами работать легче</h4>
                            <p class="advantage__text">Все специалисты и проекты в одном месте. Нативно понятный интерфейс. Быстрая и удобная регистрация.  Все условия для комфортной работы. Ничего лишнего.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">Свобода выбора</h4>
                            <p class="advantage__text">Заказчикам – доверяйте проекты продвинутым профессионалами своего дела, выбирайте специалиста под вашу задачу.
                                Специалистам – только вы решаете, с какими проектами работать.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comments-section animate-hidden" id="section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-primary comments-title">Наша команда знает свое дело <br> и готова взяться за вашу задачу</h4>
            </div>
        </div>

        <div class="slider-section">
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">«Основной задачей в работе с биржей было привлечение клиентов - физических лиц, заинтересованных в оказании юридических услуг. Купили минимальный объем лидов, чтобы пронаблюдать за принципом работы и проанализировать эффективность такого маркетингового хода. Брак не встретился. Стоимость заявок приемлема, планируем покупать лиды через биржу и далее».</p>
                        <span class="slider-card__name" >Ольга, юрист</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">«Делюсь мнением о продаже в сфере торговли. Явные преимущества – скорость и возможность индивидуального подхода. После публикации предложения, заявки поступили в течение 15 минут. Мне удалось разгрузить персонал, так как повышенный спрос на наше акционное предложение стал неожиданностью, покупатель лидов также остался доволен. Получили прибыль от продажи. При возникновении перегруза, планируем снова продавать лиды на бирже».</p>
                        <span class="slider-card__name" >Антон, директор сети магазиновa</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">«Мы – новички в сфере ремонта, нужны были лиды, так как мастера в штате опытные и нацелены на непосредственную потоковую работу в больших объемах. Ожидать результата длительного позиционирования компании на рынке не хотелось, это привело бы к простою. Хотя сайт сделали и рекламу в соцсетях запустили, но первые реальные клиенты пришли именно благодаря купленным лидам, чему невероятно рады. Продолжим сотрудничество».</p>
                        <span class="slider-card__name" >Юлия, менеджер компании по ремонту</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">«Делюсь мнением о продаже в сфере торговли. Явные преимущества – скорость и возможность индивидуального подхода. После публикации предложения, заявки поступили в течение 15 минут. Мне удалось разгрузить персонал, так как повышенный спрос на наше акционное предложение стал неожиданностью, покупатель лидов также остался доволен. Получили прибыль от продажи. При возникновении перегруза, планируем снова продавать лиды на бирже».</p>
                        <span class="slider-card__name" >Антон, директор сети магазиновa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section animate-hidden" id="section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h4 class="title-primary faq-title">
                    Часто задаваемые вопросы
                </h4>
                <div class="faq-main">
                    <div class="faq-card-wrapper">
                        <div class="faq-card js-faqCard">
                            <div class="faq-card__head js-faqCard">
                                <h5 class="faq-card__title">Как понять, нужны ли вашему бизнесу лиды?</h5>
                            </div>
                            <div class="faq-card__body"  style="display:none;">
                                <p class="faq-card__content">
                                    <b>Лиды</b> – это контакты целевой аудитории, которые могут превратиться в клиентов. <br>
                                    Лиды нужны бизнесу, когда стоит задача – быстро поймать «горячих» клиентов, которые готовы заплатить за ваш товар или услугу. То есть именно сейчас они ищут «решатора» своих вопросов.<br>
                                    Лиды нужны всем: как онлайн, так и офлайн бизнесу, начиная с услуг психолога, заканчивая сложных В2В сегментов.<br>
                                    <b>Лидогенерация</b> обеспечивает поток максимально целевых клиентов в ваш бизнес с экономией затрат.<br>
                                    Сегодня клиентам нужен результат, а значит качественный трафик. Вы платите за целевые заявки, а не сам процесс работы.<br>
                                    Забудьте про пустые траты на рекламу, продвижение сайта, маркетологов. Вам не придётся сливать бюджет без понимания, сработает реклама или нет.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mob-none992">
                <img src="/img/faq.png" alt="" class="faq-img">
            </div>
        </div>
    </div>
</section>
<section class="seo-text">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="leads__paragraph no_padding">
                    Желаете получать профильные целевые заявки от лиц, заинтересованных в сотрудничестве с Вами? Биржа лидов для Вашего бизнеса – удобный сервис, настоящая находка для руководителей компаний, менеджеров по продажам, специалистов по маркетингу, самозанятых и всех тех, кто стремится увеличить свой доход или прибыль компании! Сервис позволяет не только покупать, но и выгодно продавать лиды.
                </p>
                <h2 class="title-primary seo-text__title">О лидогенерации</h2>
                <p class="leads__paragraph no_padding">
                    Лидогенерация позволяет привлекать и направлять потенциальный клиентский трафик и отрабатывать полученные заявки на конкретные ресурсы в сети интернет. Способы привлечения могут быть различны - от рекламы в поисковых системах и соцсетях до рекламы на форумах, e-mail рассылки, холодных звонков, сервисов для сбора контактных данных.
                    Благодаря онлайн системе и возможности индивидуального подбора способов привлечения лидов под конкретные потребности, запуск услуги по продаже и покупке лидов на абсолютно любые тематики, происходит всего в пару кликов.
                </p>
                <h3 class="title-primary seo-text__title">Покупка лидов</h3>
                <p class="leads__paragraph no_padding">
                    Успешное продвижение любого бизнеса подразумевает планирование клиентского трафика и загрузки персонала. Организовать стабильный поток клиентов и нацелиться на наращивание объемов продаж, доступно при покупке лидов.
                    Все полученные лиды проходят этап обязательной поверки. Оплата лидов производится только за целевые обращения, соответствующие обозначенным критериям. Покупатель сам выбирает метод дальнейшего взаимодействия с клиентами – текстовая информация не email, заполнение онлайн-формы, звонки. При несоответствии заявок требованиям, осуществляется их перепроверка и при подтверждении несоответствия, происходит либо замена, либо возврат оплаты. К бракованным заявкам могут относиться лиды из нецелевого города, например, компания расположена в Санкт Петербурге, а заявка пришла из Воронежа.
                    Возможна настройка лидогенерации с оплатой за:
                    результат (горячие лиды) - стоимость данного метода и конверсия выше, чем с оплатой за холодные лиды (модель CPL), так как требуется больше временных ресурсов и трудозатрат, но подходит не под все цели заказчиков;
                    заинтересованного клиента по модели CPL (холодные лиды) - обеспечивает стабильный поток, их привлечение, относительно, недорогое, но конверсия реальных клиентов невысокая.
                    Покупка лидов интересна на любом этапе развития бизнеса, как новичку рынка с целью охвата аудитории и привлечения клиентов, создания собственной базы, так и для тех, кто занял нишу и стремится пополнить клиентскую базу, введя новые услуги или продвигая существующие.
                    Организуйте поток потенциальных клиентов на личный ресурс или сайт компании через подключение к бирже и получите потенциальных клиентов, проявивших заинтересованность в Ваших предложениях!
                </p>
                <h3 class="title-primary seo-text__title">Продажа заявок</h3>
                <p class="leads__paragraph no_padding">
                    Абсолютно все бизнесмены заинтересованы в расширении клиентской базы, находясь в поиске целевой аудитории. На клиентскую базу всегда имеется спрос, но бывает и так, что недостаточно ресурсов для обработки заявок. Продать лиды по выгодной цене – единственное верное решение и возможность дополнительного дохода. Биржа лидов позволяет оперативно продать базу заявок потенциальных клиентов для различного бизнеса.
                    Метод покупки лидов удобен тем бизнесменам, чье предложение носит сезонный характер и тем компаниям, кто не имеет ресурсов для поддержания собственных площадок по привлечению трафика. Выгода для конечного рекламодателя в получении фактических заказов с комиссией, взамен работе с сомнительными заявками при низкой конверсии.
                </p>
            </div>
        </div>
    </div>
</section>
{{ footer | raw }}