{{ header | raw }}

<section class="main-slide animate-hidden" id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="main-slide__content">
                    <h1 class="main-slide__title">
                        Приводим клиентов
                    </h1>
                    <p class="main-slide__paragraph">
                        Купить лиды – это значит сэкономить бюджет и увеличить поток клиентов. Услуга заключается в поиске, сборе информации и привлечении.
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourservices animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourservices-title">
                    <h2 class="title-primary text-center">
                        Наши услуги
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/dbt.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Кредиты и займы
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/law.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Юриспрунденция общий поток и банкроство физ. лиц
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/rpr.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Ремонт квартир
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/elrpr.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Ремонт электроники
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/mdc.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Медицина
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/service.png" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Услуга1
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="leads animate-hidden" id="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mob-none992">
                <img src="/img/leads.png" alt="">
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="main-slide__content">
                    <h2 class="title-primary">
                        Лиды
                    </h2>
                    <p class="leads__paragraph">
                        Купить лиды – это значит сэкономить бюджет и увеличить поток клиентов. Услуга заключается в поиске, сборе информации и привлечении.
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ads-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-center">
                <div>
                    <h2 class="title-primary text-center">
                        Лиды
                    </h2>
                    <p class="leads__paragraph text-center">
                        Купить лиды – это значит сэкономить бюджет и увеличить поток клиентов. Услуга заключается в поиске, сборе информации и привлечении.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-section animate-hidden" id="section-3">
    <div class="container justify-content-center">
        <div class="col-md-8 text-center">
            <form action="#">
                <h2 class="title-primary text-white">
                    Оставьте заявку
                </h2>
                <p class="text-white form-section__text">
                    И мы обязательно с вами свяжемся!
                </p>
                <div class="row">
                    <form action="#">
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersname" placeholder="Представьтесь, пожалуйста">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersbusinesstype" placeholder="Свера вашей деятельности">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="number" name="usersphone" placeholder="Ваш номер телефона">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersregion" placeholder="Ваш регион">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersemail" placeholder="mail@example.com">
                            <div class="form-section__wrapper-last">
                                <input class="form-section__input" type="text" name="userscompanyname" placeholder="Название вашей компании">
                            </div>
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <textarea class="form-section__input" rows="4" name="userscomments" placeholder="Ваши пожелания"></textarea>
                        </div>
                        <div class="col-md-12 form-section__wrapper text-center">
                            <input type="submit" class="form-section__submit">
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="steps-background-top"></div>
<section class="steps-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-primary text-center steps-title">
                    The 3-step process
                </h4>
                <div class="three-steps col-md-12">
                    <div class="step-card-wrapper">
                        <div class="step-card">
                            <div class="step">
                                <i class="fa fa-fire"></i>
                            </div>
                        </div>
                        <div class="step-card__content">
                            <h5 class="step-card__title">
                                Define your ideas
                            </h5>
                            <span class="step-card__text">
                                Share ideas of how you would like your app to perform to achieve goals.
                            </span>
                        </div>
                    </div>
                    <div class="line-1">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-5"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-1"></div>
                    </div>
                    <div class="step-card-wrapper">
                        <div class="step-card">
                            <div class="step">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="step-card__content">
                            <h5 class="step-card__title">
                                Define your ideas
                            </h5>
                            <span class="step-card__text">
                                Share ideas of how you would like your app to perform to achieve goals.
                            </span>
                        </div>
                    </div>
                    <div class="line-2">
                        <div class="dot dot-1"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-5"></div>
                        <div class="dot dot-4"></div>
                        <div class="dot dot-3"></div>
                        <div class="dot dot-2"></div>
                        <div class="dot dot-1"></div>
                    </div>
                    <div class="step-card-wrapper">
                        <div class="step-card">
                            <div class="step">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="step-card__content">
                            <h5 class="step-card__title">
                                Define your ideas
                            </h5>
                            <span class="step-card__text">
                                Share ideas of how you would like your app to perform to achieve goals.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="steps-posters-section">
                <div class="step-poster row">
                    <div class="col-md-3">
                        <div class="steps-poster__icon">
                            <img src="./img/poster1.jpg" alt="" class="steps-poster__img">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="steps-poster__content">
                            <h3 class="steps-poster__title">
                                01 – LOGIN SCREEN
                            </h3>
                            <h5 class="steps-poster__subtitle">
                                Everything starts with the login screen
                            </h5>
                            <p class="steps-poster__text">
                                The design of a login screen is intended to give users a quick and secure way to access their personal account. Bot detection algorithm is available for selection.
                            </p>
                            <div class="button-wrapper">
                                <a href="/login" class="button-primary">Личный кабинет</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="step-poster row">
                <div class="col-md-5">
                    <div class="steps-poster__content">
                        <h3 class="steps-poster__title">
                            02 – COMMUNICATE WITH FRIENDS
                        </h3>
                        <h5 class="steps-poster__subtitle">
                            A Collection of
                            Advanced Features
                        </h5>
                        <p class="steps-poster__text">
                            <span class="steps-poster__text">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                User-friendly, modern and intuitive
                            </span><br>
                            <span class="steps-poster__text">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                App Showcase – Just another Aeroland site
                            </span><br>
                            <span class="steps-poster__text">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Beautiful icons, typography and images
                            </span><br>
                            <span class="steps-poster__text">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Extendable premium customer support
                            </span>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="steps-poster__icon">
                        <img src="./img/poster-2.png" alt="" class="steps-poster__img">
                    </div>
                </div>
            </div>
            <div class="step-poster row">
                <div class="col-md-6">
                    <div class="steps-poster__icon">
                        <img src="./img/poster-3.png" alt="" class="steps-poster__img">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="steps-poster__content">
                        <h3 class="steps-poster__title">
                            03-SOCIAL SHARE!
                        </h3>
                        <h5 class="steps-poster__subtitle">
                            Creative App Display
                        </h5>
                        <p class="steps-poster__text">
                            More than 35 social platforms are integrated into the app. Cross-platform sharing & displaying followers and likes are easy and convenient with just a few clicks.
                        </p>
                        <div class="button-wrapper">
                            <a href="/login" class="button-primary">Личный кабинет</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="steps-background-bottom"></div>

<section class="advantages-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="advantages-title">
                    <h3 class="title-primary">Наши преимущества</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">Заголовок</h4>
                            <p class="advantage__text">Текст 1Текст 1Текст 1Текст 1Текст 1 Текст 1Текст 1Текст 1Текст 1Текст 1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">Заголовок</h4>
                            <p class="advantage__text">Текст 1Текст 1Текст 1Текст 1Текст 1 Текст 1Текст 1Текст 1Текст 1Текст 1</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">Заголовок</h4>
                            <p class="advantage__text">Текст 1Текст 1Текст 1Текст 1Текст 1 Текст 1Текст 1Текст 1Текст 1Текст 1</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comments-section animate-hidden" id="section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-primary comments-title">Почему мы?</h4>
            </div>
        </div>

        <div class="slider-section">
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section animate-hidden" id="section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h4 class="title-primary faq-title">
                    Часто задаваемые вопросы
                </h4>
                <div class="faq-main">
                    <div class="faq-card-wrapper">
                        <div class="faq-card js-faqCard">
                            <div class="faq-card__head js-faqCard">
                                <h5 class="faq-card__title">Что такое лиды?</h5>
                            </div>
                            <div class="faq-card__body"  style="display:none;">
                                <p class="faq-card__content">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni deserunt vel repellat dolore molestias. Quod nihil molestiae vero consequatur consectetur delectus, eum, tenetur cupiditate modi expedita voluptate eius dolorem illo.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="faq-card-wrapper">
                        <div class="faq-card js-faqCard">
                            <div class="faq-card__head">
                                <h5 class="faq-card__title">Как вы приведёте нам клиентов?</h5>
                            </div>
                            <div class="faq-card__body" style="display:none;">
                                <p class="faq-card__content">
                                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni deserunt vel repellat dolore molestias. Quod nihil molestiae vero consequatur consectetur delectus, eum, tenetur cupiditate modi expedita voluptate eius dolorem illo.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6  mob-none992">
                <img src="/img/faq.png" alt="" class="faq-img">
            </div>
        </div>
    </div>
</section>
<footer class="footer-section">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="/img/birzha-leads.png" alt="" class="logo-img logo-footer">
                    </a><br>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <a href="#" class="footer-font">
                        Купить лиды
                    </a><br>
                    <a href="#" class="footer-font">
                        Продать лиды
                    </a><br>
                    <a href="#" class="footer-font">
                        О нас
                    </a><br>
                    <a href="#" class="footer-font">
                        Контакты
                    </a><br>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <a href="tel:+78002553535" class="header-contacts__link header-link">+7 (900) 888-88-88</a><br>
                    <span class="footer-comments">Время когда звонить</span><br>
                    <a href="mailto:mail@example.com" class="header-contacts__link header-link">
                        mail@example.com
                    </a><br>
                    <span class="footer-comments">
                        Для решения любых проблем
                    </span>
                </div>
                <div class="footer-undersection">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="footer-copyright">
                                Copyright© 2023 Birzha-leads
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="footer-line">
                                Копирование материалов сайта только с разрешения
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>

{{ meta | raw }}

</body>
</html>