{{ header | raw }}

<section class="main-slide animate-hidden" id="section-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div class="main-slide__content">
                    <h1 class="main-slide__title">
                        BIRZHA-LEADS – пространство лидогенерации, где встречаются цели
                    </h1>
                    <p class="main-slide__paragraph">
                        Рекламодателей – поток заявок без слива бюджета <br>
                        Веб-мастеров – стабильные заказы, даже если нет своей CRM <br> <br>

                        Контролируем все сделки для вашей уверенности в 100% качестве лидов и оплате услуг
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Присоединиться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourservices animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourservices-title">
                    <h2 class="title-primary text-center">
                        С нами растёт любой бизнес
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/dbt.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Кредиты и займы
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/law.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Юриспрунденция общий поток и банкроство физ. лиц
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/rpr.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Ремонт квартир
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/elrpr.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Ремонт электроники
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/mdc.jpeg" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Медицина
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="#">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="/img/service.png" alt="">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            Услуга1
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="leads animate-hidden" id="section-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 mob-none992">
                <img src="/img/leads.png" alt="">
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="main-slide__content">
                    <h2 class="title-primary">
                        Пару слов о платформе
                    </h2>
                    <p class="leads__paragraph">
                        BIRZHA-LEADS – это площадка, которая помогает найти друг друга рекламодателям и веб-мастерам.
                    </p>
                    <p class="leads__paragraph">
                        Уже более 14 лет на рынке наша команда помогает <b>бизнесу разных ниш</b> масштабироваться за счёт качественного потока трафика. С нами ваша прибыль будет расти ,а затраты на рекламу уменьшаться
                    </p>
                    <p class="leads__paragraph">
                        Так же мы поможем <b>веб-мастерам</b>,  увеличить поток клиентов и прибыль . С нами вы обеспечены стабильными заказами .
                    </p>
                    <div class="button-wrapper">
                        <a href="/login" class="button-primary">Личный кабинет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ads-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6 align-center">
                <div>
                    <h2 class="title-primary text-center">
                        Лиды
                    </h2>
                    <p class="leads__paragraph text-center">
                        Купить лиды – это значит сэкономить бюджет и увеличить поток клиентов. Услуга заключается в поиске, сборе информации и привлечении.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card-wrapper">
                            <div class="card-primary flex_center">
                                <img src="./img/traf1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form-section animate-hidden" id="section-3">
    <div class="container justify-content-center">
        <div class="col-md-8 text-center">
            <form action="#">
                <h2 class="title-primary text-white">
                    Оставьте заявку
                </h2>
                <p class="text-white form-section__text">
                    И мы обязательно с вами свяжемся!
                </p>
                <div class="row">
                    <form action="#">
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersname" placeholder="Представьтесь, пожалуйста">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersbusinesstype" placeholder="Свера вашей деятельности">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="phone" placeholder="Ваш номер телефона">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersregion" placeholder="Ваш регион">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersemail" placeholder="mail@example.com">
                            <div class="form-section__wrapper-last">
                                <input class="form-section__input" type="text" name="userscompanyname" placeholder="Название вашей компании">
                            </div>
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <textarea class="form-section__input" rows="4" name="userscomments" placeholder="Ваши пожелания"></textarea>
                        </div>
                        <div class="col-md-12 form-section__wrapper text-center">
                            <input type="submit" class="form-section__submit" style="max-width:33.3% ">
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="advantages-section animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="advantages-title">
                    <h3 class="title-primary">Почему вам точно понравится здесь работать</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">100% честные сделки</h4>
                            <p class="advantage__text">Мы выступаем гарантом безопасности сделок и следим за добросовестностью  обеих сторон. Это значит, что рекламодатель защищён от плохого качества услуги и за неё не платит. А вебмастер, который справляется с задачей, гарантированно получит оплату.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">С нами работать легче</h4>
                            <p class="advantage__text">Все специалисты и проекты в одном месте. Нативно понятный интерфейс. Быстрая и удобная регистрация.  Все условия для комфортной работы. Ничего лишнего.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="advantage-wrapper">
                    <div class="advantage">
                        <div class="advantage__overflow"></div>
                        <div class="advantage__content">
                            <div class="advantage-wrapperImg">
                                <img src="/img/advantage.png" alt="">
                            </div>
                            <h4 class="advantage__title">Свобода выбора</h4>
                            <p class="advantage__text">Заказчикам – доверяйте проекты продвинутым профессионалами своего дела, выбирайте специалиста под вашу задачу.
                                Специалистам – только вы решаете, с какими проектами работать.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="comments-section animate-hidden" id="section-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="title-primary comments-title">Наша команда знает свое дело <br> и готова взяться за вашу задачу</h4>
            </div>
        </div>

        <div class="slider-section">
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
            <div class="slider-card-wrapper">
                <div class="slider-card">
                    <div class="slider-card__content">
                        <div class="slider-card__avatar">
                            <img src="/img/avatar.png" alt="">
                        </div>
                        <p class="slider-card__text">Since I started using WordPress, I always felt tired of reading through the documentation. No more now, thanks to AeroLand.</p>
                        <span class="slider-card__name" >Имя Фамилия</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-section animate-hidden" id="section-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <h4 class="title-primary faq-title">
                    Часто задаваемые вопросы
                </h4>
                <div class="faq-main">
                    <div class="faq-card-wrapper">
                        <div class="faq-card js-faqCard">
                            <div class="faq-card__head js-faqCard">
                                <h5 class="faq-card__title">Как понять, нужны ли вашему бизнесу лиды?</h5>
                            </div>
                            <div class="faq-card__body"  style="display:none;">
                                <p class="faq-card__content">
                                    <b>Лиды</b> – это контакты целевой аудитории, которые могут превратиться в клиентов. <br>
                                    Лиды нужны бизнесу, когда стоит задача – быстро поймать «горячих» клиентов, которые готовы заплатить за ваш товар или услугу. То есть именно сейчас они ищут «решатора» своих вопросов.<br>
                                    Лиды нужны всем: как онлайн, так и офлайн бизнесу, начиная с услуг психолога, заканчивая сложных В2В сегментов.<br>
                                    <b>Лидогенерация</b> обеспечивает поток максимально целевых клиентов в ваш бизнес с экономией затрат.<br>
                                    Сегодня клиентам нужен результат, а значит качественный трафик. Вы платите за целевые заявки, а не сам процесс работы.<br>
                                    Забудьте про пустые траты на рекламу, продвижение сайта, маркетологов. Вам не придётся сливать бюджет без понимания, сработает реклама или нет.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6  mob-none992">
                <img src="/img/faq.png" alt="" class="faq-img">
            </div>
        </div>
    </div>
</section>
