header{
    padding-top: 30px;
}

a{
    text-decoration: none;
}

p {
  margin: 0;
}

.font{
  font-size: 60;
}

.header-contacts__link{
    color: black;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.header-contacts__link__bold{
  font-weight: 700;
}

.button-primary {
  border-color: transparent;
  color: #fff;
  background-image: linear-gradient(218deg,#a0356c 0,#b84480 50%,#a0356c 100%);
  background-size: 200% auto;
  background-position: left center;
  border-radius: 5px;
  transition: 0.25s;
  padding: 15px 30px;
  display: inline-block;
}

.button-primary:hover {
  background-position: right center;
}

.text-right{
  text-align: right;
}

.text-center {
  text-align: center;
}

.header-menu__item{
  text-decoration: none;
  display: inline;
  color: black;
  padding: 0;
}

.header-menu {
 display: flex;
 justify-content: space-between;
  padding: 0;
}

.header-menu__link{
  color: black;
}

.main-slide{
  background-image: url('../img/businessconsultant.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 660px;
  display: flex;
  align-items: center;
}

.main-slide__title{
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #000000;
  margin: 0;
}

.main-slide__paragraph{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #8A909A;
  padding-top: 30px;
}

.button-wrapper{
  padding-top: 30px;
}
.ourservices{
  padding-top: 50px;
}

.ourservices-title__item{
  text-align: center;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  }

.ourservices-card__title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  padding-top: 15px;
  color: #000000;
}

.ourservices-card{
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.ourservices-card__img{
  overflow: hidden;
  transition: 0.25s;
  position: relative;
}

.card-primary {
  box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.25);
  padding: 15px;
  text-align: center;
}

.ourservices-card__img{
  overflow: hidden;
  transition: 0.25s;
  position: relative;
}
.ourservices-card__overflow{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, #b844804d 100%);
  border-radius: 4px;
  top: 0;
}

.ourservices-card:hover .ourservices-card__img img{
  transform: scale(1.1)
}

.leads{
  padding-top: 80px;
}

.title-primary {
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  margin: 0;
}

.leads__paragraph{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #8A909A;
  padding-top: 30px;
}

.ourservices-card__img {
  border-radius: 4px;
}

.ourservices-card__pic {
  width: 100%;
  transition: 0.25s;
}

.card-wrapper {
  padding-bottom: 30px;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

/*background-image: linear-gradient(218deg,#a0356c 0,#b84480 50%,#a0356c 100%);*/
.form-section {
  background: linear-gradient(269.73deg, #a0356c -1.56%, #b84480 100%);
  padding: 90px 0;
}

.ads-section {
  padding-bottom: 50px;
}

.text-white {
  color: #fff;
}

.form-section__text {
  padding-bottom: 30px;
  font-size: 18px;
}

.form-section__input {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 15px;
  border: 0;
  display: inline-block;
  width: 100%;
  outline: 0;
}

.card-wrapper {
  padding: 15px 0;
}

.form-section__input::placeholder {
  color: #fff;
}

.form-section__submit {
  border: 0;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  background: #fff;
}
.advantages-section{
  padding-top: 70px;
  padding-bottom: 70px;
}

.advantages-title{
  text-align: center;
  padding-bottom: 50px;
}

.advantage{
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.25);
  border-radius: 4px;
  padding: 15px;
  position: relative;
}

.advantage-wrapperImg{
  background: #F6F5F9;
  height: 45px;
  width: 45px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advantage__title{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

.advantage__text{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #8A909A;
}

.advantage:hover .advantage__text{
  color: #FFFFFF;
}

.advantage:hover .advantage__title {
  color: #FFFFFF;
}

.advantage__overflow{
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 4px;
  left: 0;
  top: 0;
}

.advantage__content{
  position: relative;
  z-index: 2;
}

.advantage:hover .advantage__overflow {
  background: linear-gradient(255.55deg, #5E60E7 0%, #9C7AF2 100%);
  opacity: 1;
  transition: 0.4s;
}
.animate-hidden {
  opacity: 0;
  transform: translateY(+100px);
  transition: 1s;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.comments-section{
  background-color: #f5f7fd;
}

.comments-title{
  text-align: center;
  padding-top: 30px;
}

.slider-section{
  padding-top: 50px;
  display: flex;
  gap: 15px;
}

.slider-card-wrapper{
  padding: 15px;
}

.slider-card{
  background: #fff;
  padding: 51px 37px 40px;
  border-radius: 5px;
}

.slider-card__content{
  text-align: center;
}

.slider-card__avatar{
  text-align: center;
}

.slider-card__text{
  color: #8A909A;
  font-size: 18px;
  font-family: Rubik;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 40px;
}

.slider-card__name{
  font-size: 18px;
  line-height: 1.23;
  color: #333;
  font-family: Rubik;
  font-weight: 500;
  letter-spacing: 0em;
}

.slider-card:hover{
  box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.25);
  transition: 0.25s;
}

.slick-slide img {
  display: inline-block;
}

.faq-section{
  background-color: #f5f7fd;
}

.faq-title{
  padding-top: 120px;
  padding-bottom: 40px;
}

.faq-card-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

.faq-card{
  box-shadow: 0px 4px 50px rgba(149, 149, 149, 0.25);
  border-radius: 4px;
  overflow: hidden;
}

.active .faq-card__title{
  color: #fff;
  background-color: #9C7AF2;
}

.active .faq-card__body{
  opacity: 1;
  height: auto;
  overflow: visible;
}

.faq-card__title{
  background: #fff;
  padding: 19px 30px;
  cursor: pointer;
  color: #000;
  font-family: Rubik;
  margin-bottom: 0;
  transition: 0.25s;
}

.faq-card__content{
  color: #7e7e7e;
  font-family: Rubik;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.74;
}

.faq-card__body{
  background-color: #fff;
  padding: 19px 30px;
}

.faq-img{
  max-width: 100%;
}

.header-logo__link {
  text-align: center;
}

.footer-section{
  padding-top: 40px;
}

.footer-font{
  text-decoration: none;
  color: black;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer-comments{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 27px;
  color: #8A909A;
}

.footer-undersection{
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer-copyright{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;
  color: #8A909A;
  padding-top: 30px;
}

.logo-img{
  max-width: 100%;
  width: 240px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
* {
  margin: 0;
  padding: 0;
}
.burger-menu_button {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: linear-gradient(269.73deg, #a0356c -1.56%, #b84480 100%);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_button:hover .burger-menu_lines {
  filter: brightness(0.7);
}

.burger-menu_button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
  position: absolute;
  width: 50px;
  height: 3px;
  background: linear-gradient(269.73deg, #a0356c -1.56%, #b84480 100%);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.burger-menu_lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
  content: '';
  top: -12px;
}
.burger-menu_lines::after {
  content: '';
  top: 12px;
}


.burger-menu_active .burger-menu_lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
  top: 0;
  transform: rotate(-45deg);
}

.burger-menu_nav {
  padding-top: 120px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #F9AFE9;
  overflow-y: auto;
  right: -100%;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}
.burger-menu_active .burger-menu_nav {
  right: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu_link {
  padding: 18px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 400;
  color: #BB1E99;
  border-bottom: 1px solid #fff;
}
.burger-menu_link:first-child {
  border-top: 1px solid #fff;
}
.burger-menu_link:hover {
  filter: brightness(0.9);
}
.burger-menu_overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu_overlay {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.login-section{
  padding-top: 80px;
  background-image: url(../img/bg-01.webp);
  height: 100vh;
  background-size: cover;
}

.login-container{
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #FFFFFF;
}

.login-line{
  font-family: 'Rubik';
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  padding-left: 7px;
}
.login-logo{
  text-align: center;
}

.login-form{
  text-align: center;
}

.login-title{
  display: block;
  font-family: 'Rubik';
  font-size: 39px;
  color: #333;
  line-height: 1.2;
  text-align: center;
}

.login-input{
  background-color: #fff;
  border-bottom: #333 1px solid;
  border-radius: 0;
  max-width: 340px;
}

.login-input::placeholder {
  color: #333;
}

.login-center{
  justify-content: center;
}

.login-input-wrapper{
  padding-top: 15px;
  padding-bottom: 15px;
}

.login-input-wrapper:nth-child(2){
  padding-bottom: 40px;
}


.login-input3{
  min-width: 160px;
}
.admin-section{
  height: 100vh;
}
.admin-menu{
  background-color: #10172a;
  margin-left: 0;
  height: 100vh;
  padding-right: 0;
}

.admin-profile{
  padding-top: 80px;
}

.admin-profile__avatar{
 text-align: center;
}

.admin-profile__avatar img{
  max-width: 96px;
  border-radius: 50%;

}

.admin-profile__username{
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
}

.admin-profile__email{
  font-family: 'Rubik';
  font-weight: 300;
  font-size: 16px;
  line-height: 27px;
  color: #94A3B8;
  text-align: center;
}

.admin-paragraphs{
  padding-top: 60px;
  list-style-type: none;
  padding-left: 9px;
  padding-right: 16px;
}

.admin-paragraphs__item:hover{
  background: #2f2c45;
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
}

.admin-paragraphs__item-active{
  background: #2f2c45;
  width: 100%;
  border-radius: 5px;
}

.admin-paragraphs a{
  display: block;
  font-family: 'Rubik';
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  max-width: 100%;
  opacity: 0.9;
  padding: 5px 0 5px 15px;
}


.admin-main{
  padding: 0;
  height: 100vh;
  overflow: scroll;
}

.welcome-section{
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 25px;
}

.welcome-section img{
  border-radius: 50%;
  max-width: 75px;
}

.welcome-message{
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 40px;
  line-height: 61px;
  color: #000000;
}

.fa{
  padding-right: 8px;
}

.paragraphs-icon-wrapper{
  display: inline-block;
  min-width: 27px;
}

.admin-panel{
  padding-top: 30px;
  background-color: #f1f4f9;
  height: 100vh;
  padding-left: 25px;
}

.admin-card{
  max-height: 100%;
  padding: 24px;
  background-color: #FFFFFF;
  border-radius: 14px;
}

.admin-card p{
  text-align: center;
}

.admin-card__title{
  font-size: 16px;
  color: #1e293b;
  font-family: 'Rubik';
  padding-bottom: 15px;
}

.admin-card__value{
  font-family: 'Rubik';
  color: #3b82f6;
  font-size: 64px;
}

.admin-card__value-footer{
  font-family: 'Rubik';
  color: #2563eb;
  font-size: 16px;
}

.admin-card__footer{
  font-family: 'Rubik';
  font-size: 13px;
  padding-top: 24px;
}

.text-red{
  color: #ef4444;
}

.text-orange{
  color: #f59e0b
}

.text-green{
  color: #22c55e
}

.margin-0{
  margin-right: 0;
}

.settings-section{
  background-color: #f1f4f9;
  min-height: 100vh;
  display: none;
  border: 1px grey;
}

.settings {
  max-width: 500px;
  margin: 0 auto;
}

.active{
  display: block;
}
.settings-menu-wrapper{

}

.settings-menu{
  background-color: #FFFFFF;
  width: 100%;
  height: 100vh;
}

.settings-title{
  font-family: 'Rubik';
  font-weight: normal;
  font-size: 40px;
  line-height: 61px;
  color: #000000;
  padding-top: 20px;
  padding-left: 15px;
  text-align: center;
}

.tab{
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 22px;
}
.tab-active{
  background-color: #f1f4f9;
}

.tab:hover{
  background-color: #f1f4f9;
  cursor: pointer;
}

.tab:hover .tab-title{
  color: #4f46e5
}

.settings-menu-wrapper{
  padding-right: 0;
}

.setting-description{
  color: grey;
  font-size: 16px;
  font-family: 'Rubik' ;
  font-weight: 300;
  padding-left: 5px;
}

.settings-form-wrapper{
  padding-bottom: 20px;
  padding-top: 20px;
}

.tabs-icon-wrapper{
  display: inline-block;
  min-width: 27px;
}

.tab-title{
  color: #1e293b;
  font-size: 16px;
  font-family: 'Rubik' ;
  font-weight: 500;
  padding-left: 5px;
}

.tab-text{
  padding-left: 38px;
  color: #64748b;
  font-size: 14px;
  font-family: 'Rubik' ;
  font-weight: 300;
}

.settings-input {
  background: #ffffff;
  border-radius: 4px;
  padding: 10px;
  border: 1px grey solid;
  display: inline-block;
  width: 100%;
  outline: 0;
  font-size: 14px;
}

.settings-input:focus{
  border: blue 1px solid;
}

.settings-label{
  color: black;
  padding-bottom: 8px;
}

.settings-submit-wrapper{
  text-align: center;
  padding-top: 20px;
}

.settings-submit{
  border: 1px blue solid;;
  padding: 15px;
  border-radius: 4px;
  width: 100%;
  background: #ffffff;
  max-width: 30%;
}
.padding-0{
  padding-left: 0;
  padding-right: 0;
}

.margin-0{
  margin-right:0;
}

.default-visible{
  display:block;
}

.admin-header {
  min-height: 50px;
  border-bottom: 1px solid #f2f2f2;
}

@media (min-width: 768px) and (max-width:992px) {
  .leads-card__overflow {
    background-color: #FFFFFF;
    opacity: 30%;
  }
  .button-primary{
    text-align: center;
  }
  .form-section__input{
    max-height: 54px;
  }
  .ads-section{
    padding-top: 40px;
  }
}
@media(width:1200px){
  .main-slide {
    background-position: right bottom;
  }
}

@media (max-width: 768px) {
  .form-section__wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .advantage-wrapper{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mob-none{
    display: none;
  }
  .main-slide{
    text-align: center;
  }
  .button-wrapper{
    padding-bottom: 40px;
  }
  .logo-footer{
    padding-bottom: 30px;
  }
  .admin-card-wrapper{
    padding-top:30px;
  }
}

@media (min-width:768px) {
  .pc-none{
    display: none;
  }
}

@media (max-width: 992px) {
  .main-slide {
    background: none
  }
  .mob-none992{
    display: none;
  }
  .main-slide{min-height: auto; padding-top: 40px; text-align: center;
  }
  .leads{text-align: center;
  }
}

@media (min-width: 992px) and (max-width:1199px) {
  .main-slide{
    background-position: left 150% bottom;
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .card-primary img {
    width: 100%;
  }
}
