<div class="admin-wrapper">
    <form action="/dashboard/leads/add" method="post" class="">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        Импорт из файла
                    </h1>
                </div>

                <p>
                    Введите, как называются поля в вашей таблице
                </p>

                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (id потока)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (Имя)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (Телефон)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (Регион)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (Город)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поле (Комментарий)</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>

            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Импорт">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>