<div class="admin-wrapper">
    <form action="/admin/page/" method="post" class="">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        Создать лид
                    </h1>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Поток: </label>
                    <select class="admin-form__select" name="flow_id">
                        <option value="0">Выберите поток</option>
                        {% for flow in flows %}
                            <option value="{{ flow.id }}">{{ flow.description }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Город: </label>
                    <select class="admin-form__select" name="city_id">
                        <option value="0">Выберите город</option>
                    </select>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Телефон клиента</label>
                    <input type="text" name="phone" class="admin-form__text js-phoneInput" placeholder="Введите номер телефона">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Имя клиента</label>
                    <input type="text" name="name" class="admin-form__text" placeholder="Введите имя клиента">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Текст заявки: </label>
                    <textarea type="text" name="description" placeholder="Описание" class="admin-form__textarea"></textarea>
                </div>

            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Сохранить">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>