<footer class="footer-section">
    <div class="container">
        <footer>
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img src="/img/birzha-leads.png" alt="" class="logo-img logo-footer">
                    </a><br>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <a href="/buy-leads" class="footer-font">
                        Купить лиды
                    </a><br>
                    <a href="/sell-leads" class="footer-font">
                        Продать лиды
                    </a><br>
                    <a href="/about" class="footer-font">
                        О нас
                    </a><br>
                    <a href="/contacts" class="footer-font">
                        Контакты
                    </a><br>
                </div>
                <div class="col-6 col-sm-6 col-md-4">
                    <a href="tel:+78002553535" class="header-contacts__link header-link">+7 (900) 888-88-88</a><br>
                    <span class="footer-comments">Время когда звонить</span><br>
                    <a href="mailto:mail@example.com" class="header-contacts__link header-link">
                        mail@example.com
                    </a><br>
                    <span class="footer-comments">
                        Для решения любых проблем
                    </span>
                </div>
                <div class="footer-undersection">
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <span class="footer-copyright">
                                Copyright© 2023 Birzha-leads
                            </span>
                        </div>
                        <div class="col-md-6">
                            <span class="footer-line">
                                Копирование материалов сайта только с разрешения
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</footer>

{{ meta | raw }}

</body>
</html>