<section class="form-section animate-hidden" id="section-3">
    <div class="container justify-content-center">
        <div class="col-md-8 text-center">
            <form action="#">
                <h2 class="title-primary text-white">
                    Оставьте заявку
                </h2>
                <p class="text-white form-section__text">
                    И мы обязательно с вами свяжемся!
                </p>
                <div class="row">
                    <form action="#">
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersname" placeholder="Представьтесь, пожалуйста">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersbusinesstype" placeholder="Свера вашей деятельности">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="phone" placeholder="Ваш номер телефона">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersregion" placeholder="Ваш регион">
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <input class="form-section__input" type="text" name="usersemail" placeholder="mail@example.com">
                            <div class="form-section__wrapper-last">
                                <input class="form-section__input" type="text" name="userscompanyname" placeholder="Название вашей компании">
                            </div>
                        </div>
                        <div class="col-md-6 form-section__wrapper">
                            <textarea class="form-section__input" rows="4" name="userscomments" placeholder="Ваши пожелания"></textarea>
                        </div>
                        <div class="col-md-12 form-section__wrapper text-center">
                            <input type="submit" class="form-section__submit" style="max-width:33.3% ">
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
</section>