<section class="form-section animate-hidden" id="section-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <form action="#">
                    <h2 class="title-primary text-white">
                        {{ formTitle }}
                    </h2>
                    <p class="text-white form-section__text">
                        {{ formDescription }}
                    </p>
                    <div class="row">
                        <form action="#">
                            <div class="col-md-6 form-section__wrapper">
                                <input class="form-section__input" type="text" name="usersname" placeholder="Представьтесь, пожалуйста">
                            </div>
                            <div class="col-md-6 form-section__wrapper">
                                <input class="form-section__input" type="text" name="usersbusinesstype" placeholder="Свера вашей деятельности">
                            </div>
                            <div class="col-md-6 form-section__wrapper">
                                <input class="form-section__input" type="text" name="phone" placeholder="Ваш номер телефона">
                            </div>
                            <div class="col-md-6 form-section__wrapper">
                                <input class="form-section__input" type="text" name="usersregion" placeholder="Ваш регион">
                            </div>
                            <div class="col-md-6 form-section__wrapper">
                                <input class="form-section__input" type="text" name="usersemail" placeholder="mail@example.com">
                                <div class="form-section__wrapper-last">
                                    <input class="form-section__input" type="text" name="userscompanyname" placeholder="Название вашей компании">
                                </div>
                            </div>
                            <div class="col-md-6 form-section__wrapper">
                                <textarea class="form-section__input" rows="4" name="userscomments" placeholder="Ваши пожелания"></textarea>
                            </div>
                            <div class="col-md-12 form-section__wrapper text-center form-submit-width">
                                <input type="submit" class="form-section__submit">
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            <div class="col-md-6 content_center_flex">
                <div class="callback-telegram">
                    <a href="{{ telegramLink }}">
                        <img src="/img/telegram.png" alt="" class="callback-telegram__icon">
                    </a>
                    <p class="form-section__text">
                        Или свяжитесь с нами в <a href="{{ telegramLink }}" class="blue-link" target="_blank">Телеграм</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>