<section class="ourservices animate-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="ourservices-title">
                    <h2 class="title-primary text-center">
                        С нами растёт любой бизнес
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4">
                <div class="card-wrapper">
                    <a class="ourservices-card" href="/services/{{ service.slug }}">
                        <div class="ourservices-card__img">
                            <img class="ourservices-card__pic" src="{{ service.preview.url }}" alt="{{ service.preview.name }}">
                            <div class="ourservices-card__overflow"></div>
                        </div>
                        <div class="ourservices-card__title">
                            {{ service.title }}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
{#            <div class="col-md-4">#}
{#                <div class="card-wrapper">#}
{#                    <a class="ourservices-card" href="#">#}
{#                        <div class="ourservices-card__img">#}
{#                            <img class="ourservices-card__pic" src="/img/law.jpeg" alt="">#}
{#                            <div class="ourservices-card__overflow"></div>#}
{#                        </div>#}
{#                        <div class="ourservices-card__title">#}
{#                            Юриспрунденция общий поток и банкроство физ. лиц#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card-wrapper">#}
{#                    <a class="ourservices-card" href="#">#}
{#                        <div class="ourservices-card__img">#}
{#                            <img class="ourservices-card__pic" src="/img/rpr.jpeg" alt="">#}
{#                            <div class="ourservices-card__overflow"></div>#}
{#                        </div>#}
{#                        <div class="ourservices-card__title">#}
{#                            Ремонт квартир#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card-wrapper">#}
{#                    <a class="ourservices-card" href="#">#}
{#                        <div class="ourservices-card__img">#}
{#                            <img class="ourservices-card__pic" src="/img/elrpr.jpeg" alt="">#}
{#                            <div class="ourservices-card__overflow"></div>#}
{#                        </div>#}
{#                        <div class="ourservices-card__title">#}
{#                            Ремонт электроники#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card-wrapper">#}
{#                    <a class="ourservices-card" href="#">#}
{#                        <div class="ourservices-card__img">#}
{#                            <img class="ourservices-card__pic" src="/img/mdc.jpeg" alt="">#}
{#                            <div class="ourservices-card__overflow"></div>#}
{#                        </div>#}
{#                        <div class="ourservices-card__title">#}
{#                            Медицина#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-md-4">#}
{#                <div class="card-wrapper">#}
{#                    <a class="ourservices-card" href="#">#}
{#                        <div class="ourservices-card__img">#}
{#                            <img class="ourservices-card__pic" src="/img/service.png" alt="">#}
{#                            <div class="ourservices-card__overflow"></div>#}
{#                        </div>#}
{#                        <div class="ourservices-card__title">#}
{#                            Услуга1#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</section>