<div class="welcome-section">
    <h1 class="welcome-message">
        <img src="/img/brian-hughes.jpg" alt="" >
        C возвращением, {{ app.user.username }}
    </h1>
</div>
<div class="admin-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Слово
                    </span>
                    <p class="admin-card__value">
                        21
                    </p>
                    <p class="admin-card__value-footer">
                        СловоСлово
                    </p>
                    <p class="admin-card__footer">
                        СловоСлово: 228
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Слово
                    </span>
                    <p class="admin-card__value  text-red">
                        21
                    </p>
                    <p class="admin-card__value-footer">
                        СловоСлово
                    </p>
                    <p class="admin-card__footer">
                        СловоСлово: 228
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Слово
                    </span>
                    <p class="admin-card__value text-orange">
                        21
                    </p>
                    <p class="admin-card__value-footer">
                        СловоСлово
                    </p>
                    <p class="admin-card__footer">
                        СловоСлово: 228
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Слово
                    </span>
                    <p class="admin-card__value text-green">
                        21
                    </p>
                    <p class="admin-card__value-footer">
                        СловоСлово
                    </p>
                    <p class="admin-card__footer">
                        СловоСлово: 228
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>