<div class="dashboard-table-wrapper">
    <table class="dashboard-table">
        <thead class="dashboard-table__head">
           <tr>
               <td class="dashboard-table__col">Название страницы</td>
               <td class="dashboard-table__col">Дата публикации</td>
               <td class="dashboard-table__col">Статус</td>
               <td class="dashboard-table__col_last">Действия</td>
           </tr>
        </thead>
        <tr class="dashboard-table__row">
            <td class="dashboard-table__col">Страница такая-то</td>
            <td class="dashboard-table__col">Дата такая-то</td>
            <td class="dashboard-table__col">Статус такой-то</td>
            <td class="dashboard-table__col_last">
                <a href="#" class="dashboard-table__buttons">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="#" class="dashboard-table__buttons">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </td>
        </tr>


    </table>
</div>