<div class="admin-wrapper">
    <form action="#" class="">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        {% if new == false %}
                            Обновить страницу
                        {% else %}
                            Создать страницу
                        {% endif %}
                    </h1>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите заголовок</label>
                    <input type="text" name="title" class="admin-form__text" placeholder="Название страницы">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите описание</label>
                    <input type="text" name="description" class="admin-form__text" placeholder="Описание страницы">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Символьный код страницы, желательно латиницей (который будет виден в урл)</label>
                    <input type="text" name="slug" class="admin-form__text" placeholder="Слаг страницы">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Выберите шаблон</label>
                    <select name="template_id" class="admin-form__select" id="templateId">
                        <option value="">Выберите шаблон</option>
                        {% for template in templates %}
                            <option value="{{ template.id }}">{{ template.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="admin-form__section">
                    <h3>
                        Переменные страницы
                    </h3>
                    <div id="formVars">

                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <div class="publish-card__text">
                            <p class="publish-card__label">
                                Страница не сохранена, сохраните страницу
                            </p>
                            <p class="publish-card__label">
                                Статус страницы: Новая
                            </p>
                            <p class="publish-card__label">
                                <a href="#" class="text-red">Удалить страницу</a>
                            </p>
                        </div>
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Сохранить" disabled>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        jQuery('#templateId').on('input', function () {
            const templateId = jQuery(this).val();
            if (!templateId) {
                jQuery('#submit').attr('disabled', true)
            } else {
                jQuery.ajax({
                    url: '/admin/page/template/' + templateId,
                    success: function (response) {
                        jQuery('#submit').removeAttr('disabled')
                        let res = '';
                        response.fields.forEach(function (e) {
                            res += htmlFactory(e)
                        })

                        jQuery('#formVars').html(res)
                    }
                })
            }
        })
    })

    function htmlFactory(e) {
        const label = '<label class="admin-form__label" for="'+e.name+'">'+ e.label +'</label>'
        switch (e.type) {
            case 'textarea' :
                var inner = label + '<textarea name="'+e.name+'" class="admin-form__textarea"></textarea>'
                break;
            case 'select' :
                var inner = label
                break;
            default :
                var inner = label + '<input name="'+e.name+'" type="'+e.type+'" id="'+e.name+'" class="admin-form__text"/>'
                break;
        }

        return '<div class="admin-form__group">'+ inner +'</div>'
    }
</script>