Вам предложили новый поток!

<b>- Какие лиды продаю:</b> {{ leadQueryOffer.flow.whatLeadsSold }}
<b>- ГЕО:</b> {{ leadQueryOffer.flow.region.region }}
<b>- Цена за качественный лид:</b> {{ leadQueryOffer.flow.rate }}р.
<b>- Как подать заявку:</b> Подписаться на поток <a href="{{ leadQueryOffer.flow.getUrl() }}">здесь</a>
<b>- Вопросы:</b> По всем вопросам обращаться - @birzhaleads_support