<b>- Какие лиды продаю:</b> {{ flow.whatLeadsSold }}
<b>- ГЕО:</b> {{ flow.region.region }}
<b>- Цена за качественный лид:</b> {{ flow.rate }}р.
<b>- Как подать заявку:</b> Подписаться на поток <a href="{{ flow.getUrl() }}">здесь</a>
<b>- Вопросы:</b> По всем вопросам обращаться - @birzhaleads_support