<div class="admin-wrapper">
    <form action="/admin/service/" method="post" class="js-serviceForm">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        Создать услугу
                    </h1>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите заголовок</label>
                    <input type="text" name="title" class="admin-form__text" placeholder="Название услуги">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите описание</label>
                    <textarea name="description" id="description" class="admin-form__textarea"></textarea>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Символьный код услуги, желательно латиницей (который будет виден в урл)</label>
                    <input type="text" name="slug" class="admin-form__text" placeholder="Слаг услуги">
                </div>
                <div class="admin-form__group">
                    <div class="js-imageResult">
                    </div>
                    <label class="admin-form__label">Выберите изображение услуги</label>
                    <input type="hidden" name="preview_id">
                    <input type="file" name="image" class="admin-form__text js-servicePreviewFile">

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            jQuery('.js-servicePreviewFile').on('input', function () {

                                var formData = new FormData(jQuery('.js-serviceForm').get(0));

                                jQuery.ajax({
                                    type: 'POST',
                                    url: '/admin/attachment',
                                    data: formData,
                                    enctype: 'multipart/form-data',
                                    contentType: false,
                                    processData: false,
                                    success: function (data) {
                                        jQuery('[name=preview_id]').val(data.id)
                                        imgTag = "img class='no-lazy' src='"+data.url+"'";
                                        jQuery('[name=image]').val('')
                                        jQuery(".js-imageResult").html("<div style='position: relative; padding: 10px;'> " +
                                            "<span class='js-removeImage image-close' data-id='"+data.id+"'>" +
                                            "X" +
                                            "</span> " +
                                            "<"+imgTag+"> " +
                                            "</div>")
                                    }
                                })


                                // document.addEventListener('DOMContentLoaded', function () {
                                //     jQuery('.form-primary').on('click', function (e) {
                                //         $target = jQuery(e.target);
                                //         if ($target.hasClass('js-removeImage')) {
                                //             jQuery.ajax({
                                //                 type: 'POST',
                                //                 url: '/payments/delete-file',
                                //                 data: {
                                //                     referer: jQuery('[name=referer]').val(),
                                //                     file_id: $target.data('id')
                                //                 },
                                //                 success: function () {
                                //                     $target.remove()
                                //                 }
                                //             })
                                //         }
                                //     })
                                //
                                //     jQuery('[name=picture]').on('input', function () {
                                //         data = jQuery('.form-primary').serializeArray()
                                //
                                //         var formData = new FormData(jQuery('.form-primary').get(0));
                                //
                                //         jQuery.ajax({
                                //             type: 'POST',
                                //             url: '/payments/upload-file',
                                //             data: formData,
                                //             enctype: 'multipart/form-data',
                                //             contentType: false,
                                //             processData: false,
                                //             success: function (data) {
                                //                 imgTag = "img class='no-lazy' src='"+data.src+"'";
                                //                 jQuery('[name=picture]').val('')
                                //                 jQuery(".js-images").append("<div style='position: relative; padding: 10px;'> " +
                                //                     "<span class='js-removeImage image-close' data-id='"+data.id+"'>" +
                                //                     "X" +
                                //                     "</span> " +
                                //                     "<"+imgTag+"> " +
                                //                     "</div>")
                                //             }
                                //         })
                                //     })
                                //
                                //     jQuery('#cosult-referer').val(window.location.href)
                                //
                                //     jQuery('.js-petType').on('change', function () {
                                //
                                //         var url = 'http://rodentovet.ru/wp-json/api/v1/doctors?short=1';
                                //
                                //         if (jQuery(this).val() == 'Собака (укажите породу)' || jQuery(this).val() == 'Кошка (укажите породу)') {
                                //             var url = 'http://rodentovet.ru/wp-json/api/v1/doctors?short=1&doctorsType=1';
                                //         }
                                //
                                //
                                //         jQuery.ajax({
                                //             url: url,
                                //             success: function (data) {
                                //                 jQuery('.js-doctorsList').html('')
                                //                 jQuery('.js-doctorsList').html("<option value='Любой врач'>Любой врач</option>")
                                //                 data.forEach(function (e) {
                                //                     console.log(e)
                                //                     jQuery('.js-doctorsList').append("<option value='"+e+"'>"+e+"</option>")
                                //                 });
                                //             }
                                //         })
                                //     })
                                // })

                            })
                        })
                    </script>

                </div>
            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <div class="publish-card__text">
                            <p class="publish-card__label">
                                Услуга не сохранена, сохраните.
                            </p>
                        </div>
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Сохранить">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>