<div class="admin-wrapper">
    <form action="/admin/service/" method="post" class="js-serviceForm">
        <div class="row">
            <div class="col-md-8 admin-form">
                <div>
                    <h1 class="admin-title">
                        Создать услугу
                    </h1>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите заголовок</label>
                    <input type="text" name="title" class="admin-form__text" placeholder="Название услуги">
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Введите описание</label>
                    <textarea name="description" id="description" class="admin-form__textarea"></textarea>
                </div>
                <div class="admin-form__group">
                    <label class="admin-form__label">Символьный код услуги, желательно латиницей (который будет виден в урл)</label>
                    <input type="text" name="slug" class="admin-form__text" placeholder="Слаг услуги">
                </div>
                <div class="admin-form__group">
                    <input type="hidden" name="preview_id">
                    <label class="admin-form__text">
                        <span>Выберите изображение услуги (353x415)</span>

                        <div class="image-frame-wrapper frame375x437">
                            <div class="image-frame">
                                <div class="js-imageResult image-frame__result">
                                    {% if service.preview %}
                                        <img src="{{ service.preview.url }}" alt="">
                                    {% endif %}
                                </div>
                                Изображение <br>
                                (353x415)
                            </div>
                        </div>
                        <input type="file" name="image" class="js-servicePreviewFile" style="display: none;">
                    </label>

                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                            jQuery('.js-servicePreviewFile').on('input', function () {
                                var formData = new FormData(jQuery('.js-serviceForm').get(0));

                                jQuery.ajax({
                                    type: 'POST',
                                    url: '/admin/attachment',
                                    data: formData,
                                    enctype: 'multipart/form-data',
                                    contentType: false,
                                    processData: false,
                                    success: function (data) {
                                        jQuery('[name=preview_id]').val(data.id)
                                        let imgTag = "<img class='no-lazy' src='"+data.url+"'>";
                                        // const removeTag = "<span class='js-removeImage image-close'>X</span>";
                                        jQuery('[name=image]').val('')
                                        jQuery(".js-imageResult").html(imgTag)
                                    }
                                })
                            })
                        })
                    </script>

                </div>
            </div>
            <div class="col-md-4">
                <div class="publish-card-wrapper">
                    <div class="publish-card">
                        <div class="publish-card__text">
                            <p class="publish-card__label">
                                Услуга не сохранена, сохраните.
                            </p>
                        </div>
                        <input type="submit" id="submit" class="button-primary w-100 publish-card__submit" value="Сохранить">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>