<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Регистрация</title>
</head>
<body>
<section class="login-section">
    <div class="container">
        <div class="row login-center">
            <div class="col-lg-4">
                <div class="login-wrapper">
                    <div class="login-container">
                        <div class="login-logo">
                            <a href="/"><img src="/img/birzha-leads.png" alt="" class="logo-img"></a>
                        </div>

                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="/registration" method="POST" class="login-form">
                            <div class="login-input-wrapper">
                                <input class="form-section__input login-input" type="text" name="name" placeholder="Введите ваше имя">
                            </div>
                            <div class="login-input-wrapper">
                                <input class="form-section__input login-input js-phoneInput" type="text" name="phone" placeholder="Ваш номер телефона">
                            </div>
                            <div class="login-input-wrapper">
                                <input class="form-section__input login-input" type="text" name="email" placeholder="Ваша почта">
                            </div>
                            <div class="login-input-wrapper">
                                <input class="form-section__input login-input" type="password" name="password" placeholder="Пароль">
                            </div>
                            <div class="login-input-wrapper">
                                <input type="submit" class="button-primary login-input3" value="Зарегистрироваться">
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js" integrity="sha512-d4KkQohk+HswGs6A1d6Gak6Bb9rMWtxjOa0IiY49Q3TeFd5xAzjWXDCBW9RS7m86FQ4RzM2BdHmdJnnKRYknxw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        jQuery(".js-phoneInput").mask("{{ constant('App\\Factories\\PhoneFactory::PHONE_MASK') }}");
    })
</script>
</body>
