<div class="welcome-section">
    <h1 class="welcome-message">
        <img src="/img/i.png" alt="" >
        C возвращением, {{ app.user.username }}
    </h1>
</div>
<div class="admin-panel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Лиды
                    </span>
                    <p class="admin-card__value">
                        1
                    </p>
                    <p class="admin-card__value-footer">
                        купленных лидов
                    </p>
                    <p class="admin-card__footer">
                        всего лидов: 1
                    </p>
                </div>
            </div>
{#            <div class="col-md-3 col-sm-6">#}
{#                <div class="admin-card">#}
{#                    <span class="admin-card__title">#}
{#                        Сумма#}
{#                    </span>#}
{#                    <p class="admin-card__value  text-red">#}
{#                        21#}
{#                    </p>#}
{#                    <p class="admin-card__value-footer">#}
{#                        продаж#}
{#                    </p>#}
{#                    <p class="admin-card__footer">#}
{#                        всего продаж: 228#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
            <div class="col-md-3 col-sm-6">
                <div class="admin-card">
                    <span class="admin-card__title">
                        Сумма продаж
                    </span>
                    <p class="admin-card__value text-orange">
                        999к
                    </p>
                    <p class="admin-card__value-footer">
                        Сумма
                    </p>
                    <p class="admin-card__footer">
                        Сумма продаж: 999 999р
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>