<div class="admin-wrapper">
    <div class="row">
        <div class="col-md-8 admin-form">
            <div>
                <h1 class="admin-title">
                    Раздел временно недоступен
                </h1>
                <p>
                    Раздел временно недоступен, он пока еще в разработке
                </p>
            </div>
        </div>
    </div>
</div>